body {
  background-color: #c4c4c4;
}

h1 {
  font-family: Helvetica;
  font-style: normal;
  line-height: 211px;
  color: #3e6bc1;
  width: 3253px;
  height: 469.42px;
  font-weight: bold;
  font-size: 70px;
  filter: drop-shadow(6px 4px 8px rgba(0, 0, 0, 0.25));
}

.build-bot-left {
  position: absolute;
  width: 1223.55px;
  height: 541.17px;

  background: #a4a196;
  border: 2.9999px solid #9e9e8d;
  box-shadow: 7px 4px 9px rgba(0, 0, 0, 0.25);
}
