body {
  background-color: #c4c4c4;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 211px;
  color: #3e6bc1;
  width: 3253px;
  height: 469.42px;
  filter: drop-shadow(6px 4px 8px rgba(0, 0, 0, 0.25));
}

.w {
  position: absolute;
  width: 160.31px;
  height: 201.78px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 207px;

  color: #3e6bc1;

  transform: matrix(0.86, 0.57, -0.48, 0.84, 0, 0);
}

.h {
  position: relative;
  width: 103.36px;
  height: 204.11px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 207px;
  left: 30px;

  color: #3e6bc1;

  transform: matrix(0.95, 0.37, -0.31, 0.93, 0, 0);
}

.build-bot-left {
  position: absolute;
  width: 1223.55px;
  height: 541.17px;

  background: #a4a196;
  border: 2.9999px solid #9e9e8d;
  box-shadow: 7px 4px 9px rgba(0, 0, 0, 0.25);
}
